<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="robots" content="index, follow">
<title>{{ .Site.Title }}, par {{ .Site.Author.name }} | design↔commun</title>
<meta name="description" content="{{ .Site.Params.Description }}">
<meta name="author" content="{{ .Site.Author.Name }}">
{{- hugo.Generator }}

<link rel="stylesheet" type="text/css" href="{{ "css/interface-0.1.css" | absURL }}" />
<link rel="stylesheet" type="text/css" href="{{ "css/style.css" | absURL }}?rnd={{ now.Unix }}" />
<!--<link rel="stylesheet" type="text/css" href="css/table-of-content.css">-->
{{ range .Site.Params.customCSS -}}
<link rel="stylesheet" type="text/css" href="{{ . | absURL }}?rnd={{ now.Unix }}">
{{- end }}

<!--
<script type="text/javascript" src="js/snap-text-baseline.js" ></script>
<script type="text/javascript" src="js/FontMetrics.js" ></script>
 -->
<script type="text/javascript" src="js/paged.polyfill.js"></script>
<script type="text/javascript" src="js/createToc.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<script>
  class handlers extends Paged.Handler {
    constructor(chunker, polisher, caller) {
      super(chunker, polisher, caller);
    }
    beforeParsed(content){
      createToc({
        content: content,
        tocElement: '#toc',
        titleElements: [ 'h2', 'h3:not(#toc-title)' ]
      });
    }
    afterRendered(pages){
      footnotesOrder();
      footnotesAside();
      doublePage();
      snapImgBaseline( {
        baselineVariableName: '--baseline'
      });
    }
  }
  Paged.registerHandlers(handlers);
</script>
