{{ define "main" }}
<main>
	<!-- Cover -->
	<div id="cover" aria-hidden="true">
		<img src="/media/cover.jpg">
		<header>
			<p class="author">{{ .Params.Author }}</p>
		  <h1>{{ .Title }}</h1>
		</header>
		<footer>
			{{ partial "content.html" .Content }}
		</footer>
	</div>
	<!-- First page -->
	<section id="first-page">
	  <header>
	  	<p class="author">{{ .Params.Author }}</p>
	    <h1>{{ .Title }}</h1>
	  </header>
	  <footer>
	  	{{ partial "content.html" .Content }}
	  </footer>
  </section>
  
  <!-- Table of contents -->
  <nav id="toc">
  	<h3 id="toc-title">Sommaire</h3>
  </nav>

  {{ range .Pages.ByWeight }}
    {{ partial "content.html" .Content }}
  {{ end }}

  <!-- Last page -->
	<div id="last-page" aria-hidden="true">
		<img src="/media/cover.jpg">
	</div>
</main>
{{ end }}
